@import "tailwindcss";
/* scrollbar size */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* hide track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html.lenis,
html.lenis body {
  height: auto;
}
.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}
.lenis [data-lenis-prevent],
.lenis [data-lenis-prevent-wheel],
.lenis [data-lenis-prevent-touch] {
  overscroll-behavior: contain;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}
.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}
/* Anton */
@font-face {
  font-family: "Anton";
  src: url("/fonts/anton/Anton-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Cabinet Grotesk */
@font-face {
  font-family: "Cabinet Grotesk";
  src: url("/fonts/cabinet-grotesk/CabinetGrotesk-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("/fonts/cabinet-grotesk/CabinetGrotesk-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("/fonts/cabinet-grotesk/CabinetGrotesk-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@theme {
  /* Colors */
  --color-blue-0: #e6f1fa;
  --color-blue-100: #cee4f6;
  --color-blue-200: #539fe3;
  --color-blue-300: #0976d6;
  --color-blue-400: #0a59a3;
  --color-blue-500: #042f55;
  --color-blue-600: #032340;

  --color-neutral-0: #ffffff;
  --color-neutral-100: #fafafa;
  --color-neutral-200: #eeeeee;
  --color-neutral-300: #cccccc;
  --color-neutral-400: #aaaaaa;
  --color-neutral-500: #666666;
  --color-neutral-600: #444444;
  --color-neutral-700: #222222;
  --color-neutral-800: #101010;

  /* Font Family */
  --font-anton: "Anton", sans-serif;
  --font-cabinet-grotesk: "Cabinet Grotesk", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Typography */

  /* Display fonts */
  --text-d1-desktop: 300px;
  --text-d1-desktop--line-height: 100%;
  --text-d1-tablet: 130px;
  --text-d1-tablet--line-height: 100%;
  --text-d1-mobile: 64px;
  --text-d1-mobile--line-height: 120%;

  /* Heading fonts */
  --text-h1-desktop: 54px;
  --text-h1-desktop--line-height: 110%;
  --text-h1-tablet: 38px;
  --text-h1-tablet--line-height: 120%;
  --text-h1-mobile: 24px;
  --text-h1-mobile--line-height: 120%;

  /* Body fonts */
  --text-b1: 64px;
  --text-b1--line-height: 110%;
  --text-b2: 40px;
  --text-b2--line-height: 110%;
  --text-b3: 32px;
  --text-b3--line-height: 110%;
  --text-b4: 24px;
  --text-b4--line-height: 130%;
  --text-b5: 18px;
  --text-b5--line-height: 130%;

  /* Paragraph fonts */
  --text-p1: 24px;
  --text-p1--line-height: 120%;
  --text-p2: 16px;
  --text-p2--line-height: 120%;
  --text-p3: 14px;
  --text-p3--line-height: 120%;

  /* Caption fonts */
  --text-c1: 32px;
  --text-c1--line-height: 120%;
  --text-c2: 16px;
  --text-c2--line-height: 120%;
  --text-c3: 10px;
  --text-c3--line-height: 120%;

  /* Breakpoints */
  --breakpoint-sm: 24.375rem;
  --breakpoint-2xl: 120rem;
  --breakpoint-3xl: 160rem;
}

body {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 400;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
  scrollbar-width: none; /* For Firefox */
}
/* overscroll-behavior: contain; */
.drawer-content * {
  pointer-events: auto;
}
